* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: serif;
  background-color: #ddd;
}
.img {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(3, 131, 211, 0.351),
      rgba(161, 205, 255, 0.355)
    ),
    url("quron.jpg");
  background-size: cover;
  background-position-y: 100%;
  background-position: center;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding: 3rem 0;
}
h1 {
  text-align: center;
  padding: 2.4rem;
}
.sura {
  background-image: linear-gradient(
    to right bottom,
    rgb(161, 249, 255),
    rgb(3, 170, 211)
  );
  border-radius: 2rem;
  border: none;
  box-shadow: 0.5rem 0.5rem 1rem #333;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3rem;

  padding: 3rem;
}
p {
  font-size: 1.8rem;
}
.listen {
  text-decoration: none;
  grid-column: 1 / 4;
  width: 100%;
  padding: 1rem 1rem 1rem 0.8rem;
  border: none;
  font-size: 2rem;
  font-weight: 500;
  color: aqua;
  background-color: black;
  border-radius: 1.7rem;
  text-align: center;
  cursor: pointer;
}
.popup {
  height: 100vh;
  padding: 2rem;
  border-radius: 1rem;
  margin: 0 auto;
  background-color: rgb(254, 221, 219);
  position: relative;
  overflow-y: scroll;
  box-shadow: 0.5rem 0.5rem 1rem #333;
}
.popup::-webkit-scrollbar-thumb {
  background-color: black;
}
.color {
  background-image: linear-gradient(
    to right bottom,
    rgb(254, 221, 219),
    rgb(254, 221, 219)
  );
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: black;
  z-index: 10;
  color: rgb(254, 221, 219);
}
.text {
  padding: 3rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.name {
  padding: 2rem;
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
}
.arabcha {
  align-self: flex-end;
  font-size: 3.6rem;
  font-weight: 700;
}
.oqilishi {
  align-self: flex-start;
  font-weight: 300;
  color: #222;
  font-size: 2rem;
  text-align: left;
  line-height: 1.2;
}

.uzbek {
  align-self: flex-start;
  font-size: 1.9rem;
  font-weight: 550;
  color: #111;
  text-align: left;
  line-height: 1.2;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2rem;
}
.gridcol {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  height: 100vh;
  overflow-y: scroll;
}
.btnCol {
  color: rgb(254, 221, 219);
}
